---
interface Props {
  title: string;
}

const { title } = Astro.props;

import img from "../../public/media/background.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="My little space to share my music and post about things I like!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/keithcircle.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Open Graph tags -->
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="My little space to share my music and post about things I like!"
    />
    <meta property="og:image" content="../../public/media/background.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="My little space to share my music and post about things I like!"
    />
    <meta name="twitter:image" content="../../public/media/background.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play&family=Josefin+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <astro:component>
      <slot />
    </astro:component>
  </body>
  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background: #161616;
      background-size: 224px;
      overflow-x: hidden;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: "Play", sans-serif;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
